<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Senha Alterada</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <main class="app confirmSenha">

    <section class="alertBackground">

      <div class="infoBox">
        <div class="logoutButton">
          <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" width="17.87" height="17.865"
            viewBox="0 0 17.87 17.865">
            <path id="Caminho_101" data-name="Caminho 101"
              d="M3.685,20.861A.687.687,0,0,1,3.2,19.686L19.686,3.2a.69.69,0,1,1,.976.976L4.173,20.662A.687.687,0,0,1,3.685,20.861Z"
              transform="translate(-2.994 -2.996)" />
            <path id="Caminho_102" data-name="Caminho 102"
              d="M20.174,20.861a.687.687,0,0,1-.488-.2L3.2,4.174A.69.69,0,0,1,4.174,3.2L20.662,19.686a.687.687,0,0,1-.488,1.175Z"
              transform="translate(-2.995 -2.996)" />
          </svg>
        </div>

        <div class="userIcon">
          <img src="assets/img/fotoperfil.png" alt="Foto de perfil">
        </div>

        <div class="title">
          <h2>Sua senha foi alterada com sucesso!</h2>
        </div>

        <div class="info">
          <p>Para mais segurança, ative<br>a autenticação de dois fatores.</p>
        </div>
        <div class="button2fa">
          <button>
            <svg id="_x32_37._Locked" xmlns="http://www.w3.org/2000/svg" width="18.593" height="22.98"
              viewBox="0 0 18.593 22.98">
              <g id="Grupo_2" data-name="Grupo 2">
                <path id="Caminho_8" data-name="Caminho 8"
                  d="M71.223,8.992v-3C71.223,2.684,68.1,0,64.251,0s-6.973,2.684-6.973,5.995v3a2.18,2.18,0,0,0-2.324,2v9.992a2.18,2.18,0,0,0,2.324,2H71.223a2.18,2.18,0,0,0,2.324-2V10.99A2.18,2.18,0,0,0,71.223,8.992Zm-11.621-3c0-2.208,2.081-4,4.648-4s4.649,1.789,4.649,4v3H59.6ZM71.223,20.982H57.278V10.991H71.223Zm-8.135-4.274v1.276a1.175,1.175,0,0,0,2.324,0V16.708a1.963,1.963,0,0,0,1.162-1.721,2.351,2.351,0,0,0-4.648,0A1.963,1.963,0,0,0,63.089,16.708Z"
                  transform="translate(-54.954)" fill="#fff" />
              </g>
            </svg>
            Ativar autenticação<br>de dois fatores
          </button>
        </div>
      </div>
    </section>

  </main>
</body>

</html>