<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Numero</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main class="app verificar">
        <section class="verificarNumero">
            <header class="voltar">
                <a href="login.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 15">
                        <path id="Caminho_6" data-name="Caminho 6"
                            d="M.281,38.669a1.249,1.249,0,0,0,0,1.516L5.53,46.611a.768.768,0,0,0,1.238,0,1.249,1.249,0,0,0,0-1.516l-4.631-5.67,4.628-5.67a1.249,1.249,0,0,0,0-1.516.768.768,0,0,0-1.238,0L.279,38.665Z"
                            transform="translate(-0.025 -31.925)" fill="#c59d5f" />
                    </svg>
                </a>
            </header>
            <div class="background_Numero">
                <img src="assets/img/login-light.png" alt="">
                <div class="logo">
                    <img src="assets/img/logo_sarafashion.svg" alt="">
                </div>
            </div>
            
            <div class="container-Numero">
                <div class="header-Numero">
                    <h1>Digite seu número <br> de telefone</h1>
                </div>
                <form action="">
                    <div class="input-controls">
                        <select class="select-pais">
                            <option disabled selected>Escolha o País</option>
                            <option value="BR">Brasil</option>
                            <option value="US">Estados Unidos</option>
                            <option value="PT">Portugal</option>
                        </select>

                        <div class="input-telefone">
                            <span class="prefixo">+55</span>
                            <input type="tel" placeholder="Numero de Celular">
                        </div>

                        <small class="mensagem-codigo">Enviaremos um código para o seu número</small>
                    </div>
                    <div class="input-post">
                        <button>Entrar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>

</html>